<!-- <div  class="login-background" data-ng-controller="forgot as vm">﻿ -->
        <div  class="forgot-background" ng-controller="forgot as vm">﻿
        <form name="forgotForm" validate>
    
            <div class="login-form-main">
                <div class="out-logo">
                    <img src="app/content/images/chapz.jpg" alt=""/>
                </div>
   
                
                <div class="login-form">
                    <div class="forgotform"><h1>Forgot Password<i class="fa fa-times" aria-hidden="true"></i></h1></div>
                    <div class="form-group ">
                        <input  type="email" name="email" class="form-control" placeholder="Email" class="" ng-model="user.email" ng-pattern="/^.+@.+\..+$/" required>
                                       
                        <img class="login-img" src="app/content/images/Login/user.png"/>


                        <!-- <input required type="email" name="email" ng-model="user.email" ng-pattern="/^.+@.+\..+$/">
                        <div ng-messages="projectForm.email.$error">
                            <div ng-message-exp="['required', 'pattern']">
                                Valid e-mail address required
                            </div>
                        </div> -->
                        
                        <div ng-messages="forgotForm.email.$error" class=" set-font-11" >  
                            <div ng-message-exp="['required','pattern']">
                                Valid e-mail address required.
                            </div>
                        </div>
    
                    </div>
                    
                    <div ng-show="vm.wrongEmail" class="alert alert-danger"> </div>
                    <div ng-show="vm.sentSuccessfully" class="alert alert-success"> </div>
                    <a><button  type="button" ng-click="forgotpass()"  ng-disabled="forgotForm.$invalid" class="log-btn login-btn"  ><b>Submit</b></button></a>
                    <div class="">
                            <h6>Remember Password? <a data-ui-sref="login">Login Now</a></h6>
                          
                        <!-- <a href="#!login"><label class="ec-mar-top ec-cursor">Login</label></a> -->
                        </div>
                    
                </div>
            </div>
        </form>
    </div>