<div class="forgot-background" ng-controller="updatepassword as vm">
    <form name="forgotForm" validate>

        <div class="login-form-main">
            <div class="out-logo">
                <img src="app/content/images/chapz.jpg" alt="" />
            </div>


            <div class="login-form">
                <div class="forgotform">
                    <h1>Update Password<i class="fa fa-times" aria-hidden="true"></i></h1>
                </div>
                <div class="form-group ">
                    <input type="password" name="password" class="form-control" placeholder="New Password" ng-model="user.password" required>
                </div>
                <div class="form-group ">
                    <input type="password" name="cPassword" class="form-control" placeholder="Confirm Password" ng-model="user.cPassword" required>
                    <!-- <div ng-messages="forgotForm.cpassword.$error" role="alert">
                                    
                                      <div ng-message="pattern">
                                          <span>Password did not match</span>  
                                     </div>
                                 </div> -->
                </div>

                <div ng-show="vm.showerror" class="alert alert-danger"> </div>
                <div ng-show="vm.showsuccess" class="alert alert-success"> </div>
                <a><button  type="button" ng-click="updatePassword()"   class="log-btn login-btn"  ><b>Submit</b></button></a>

            </div>
        </div>
    </form>
</div>