<footer class="footer-area" ng-controller="footer">
    <div class="container">
        <div class="row">
            <!--Start single footer widget-->
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="single-footer-widget">
                    <h5 class="title">Quicklinks</h5>
                    <ul class="quicklinks floatleft">
                        <!-- <li><a href="#/terms">Terms & Condition</a></li> -->
                        <li><a href="#/about">About Us</a></li>
                        <li><a href="#/contact">Contact Us</a></li>
                        <li><a href="#/howtosell">How to Sell</a></li>
                        <li><a href="#/terms-and-conditions">Terms & Conditons</a></li>
                        <!-- <li><a href="#/privacy-policy">Privacy & Policy</a></li> -->
                        <!-- <li><a href="#/faq">FAQ</a></li> -->
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="single-footer-widget twitter-feed-widget">
                    <h5 class="title">GET SOCIAL</h5>
                    <div class="twitter-feed">
                        <div class="icon-holder">
                            <a href="https://twitter.com/ChapzC/" target="_blank"><i class="fa fa-twitter footer-icon" aria-hidden="true"></i></a>
                            <a href="https://www.facebook.com/shopbychapz/" target="_blank"><i class="fa fa-facebook footer-icon" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/chapz_shop/" target="_blank"><i class="fa fa-instagram footer-icon" aria-hidden="true"></i></a>
                            <a href="https://line.me/R/ti/p/%40chapz" target="_blank"><i class="fa fa-commenting-o footer-icon" aria-hidden="true"></i></a>
                        </div>
                        <div class="icon-holder">
                        </div>
                    </div>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="single-footer-widget">
                    <h5 class="title">Reach Us</h5>
                    <ul class="reach-us-method">
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> 204 Sukhumvit Road, Samutprakarn 10270</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:shopchapz@gmail.com"> shopchapz@gmail.com</a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i> 065-0266-794,  (+66)65-0255794</li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
        </div>
    </div>   
</footer>

<section class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright-text text-center">
                    <p>Shopchapz © All Rights Reserved.</p>
                </div>
            </div>
        </div>    
    </div>
</section>