<div class="quicklink-page class-due-padding">
	<div class="container">
		<div class="row page-outer-area">
			<div class="col-md-12">
				<div class="page-content">
					<h3 class="text-center">How To Sell</h3>
					
					<ol>
						<li>
							<h4>สมัครสาํหรับร้านคา้</h4>
							
						</li>
						<li>
							<h4>กรอกขอ้มูล</h4>
							
						</li>
						<li>
							<h4>ลงช่ือเขา้ใช้</h4>
							
						</li>
						<li>
							<h4>กรอกขอ้มูลร้านคา้และรูปของสนิคา้</h4>
							
						</li>
						<li>
							<h4>แอดไล@chapzเพ่ือสอบถามโปรโมชั่นและราคา</h4>
							
                        </li>
                        <li>
							<h4>โอนเงนิตามจาํนวนท่ีแอดมินแจง้แลว้สง่หลักฐานการโอนเงนิมาท่ี@chapz</h4>
							
						</li>
                        <li>
							<h4>รร้านคา้ของคุณกพ็ร้อมท่ีจะขายของให้กับโลกออนไล</h4>
							
                        </li>
                       
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>